*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 10px;
}
body{
   overflow-x: hidden;
   /* background: url(pictures/man_dark\ mode.jpeg) no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;  */

}

.navigation {
    width: 100%;
    position: fixed;
    top: 0;
    height: 10vh;
    z-index: 999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,61,77,100%);
    padding: 0px 50px;
}
.links_navigation a {
    text-decoration: none;
    margin-right: 25px;
    font-size:2.3rem ;
    color: #BCCCD0;
    transition: 0.7s ease;
}
.links_navigation a:hover {
    text-decoration: underline;
    color:rgba(187,215,220,100%) ;
}

.main_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left_section {
    width: 60%;
        
}
.left_section .video_inside {
    width: 100%;
    height: calc(100vh - 10vh);
    position: relative;
    top: 10vh;

}

.right_section {
    width: 40%;
    background-color: rgb(206, 221, 233);
    height: calc(100vh - 10vh);
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name {
    margin: 0;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 30px;
    color:rgba(0,61,77,100%)
}
.description {
    margin: 0 20px;
    text-align: center;
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 700;
}
  

/* footer  */

.footer {
    width: 100%;
    height: 7vh;
    position:relative;
    top: 9.5vh;
    background-color:  rgb(187, 215, 220);
    color: black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-title {
    font-size: 2rem;
    font-weight: 600;
}
/* .footer-title span {
    color: #ffffff;
} */
h6 {
    margin-bottom: 20px;
    font-size: 4.5rem;
    font-weight: bolder;
}


/* .social-icon a {
    color: #fff;
    padding-right: 30px;
    font-size:2rem;
    transition: 0.7s ease;
}

.social-icon a:hover {
    color: #306cf4;
    transform: scale(1.5);
} */

/* end foter  */
@media (max-width:900px)
{
    .main_section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .left_section {
        width: 100%;
    }
    .left_section img {
        width: 100%;
        height: calc(100vh - 10vh);
        position: relative;
        top: 10vh;
    
    }
    
    .right_section {
        width:100%;
        background-color: white;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
  
}
@media (max-width:500px){
    .navigation {
        width: 100%;
        position: fixed;
        top: 0;
        height: 10vh;
        z-index: 999;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #747778;
        padding: 0px 10px;
    }
    .links_navigation a {
        text-decoration: none;
        margin-right: 15px;
        font-size:2rem ;
        color: #BCCCD0;
    }
    }
    @media(max-width:600px){
        .container{
            background-color: transparent;
            width: 55%;
            height: 50%;
            position: relative;
            left: 15%;
            top: 15%;
        }
    }